body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #87CEFA;
    background: linear-gradient(
      90deg, 
      rgba(135, 206, 250, 1) 0%, 
      rgba(0, 191, 255, 1) 50%, 
      rgba(25, 25, 112, 1) 100%);
}
.headB{
    display: flex;
    width: 1400px;
    height: 130px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 10px;
    border: 1px solid black;
    border-radius: 30px;
    border-style: hidden;
}
.Logo{
    width: 250px;
    height: 200px;
    margin-top: 20px;
}
.garcig{
    color: white;
    text-shadow: 0 0 10px white;
    font-size: 30px;
    margin-right: 40px;     
    font-family: 'milea lover', sans-serif;
}
.container{
  display: flex;
  width: 1400px;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  gap: 20px;
}
.boxB{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(6, 250px);
    gap: 20px;
    margin-top: 150px;
}

.box1{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border: 2px solid white;
    border-radius: 30px;
    box-shadow: 0 0 10px white;
    grid-column-start: 1;
    grid-column-end: 4;
}
.MGL{
    display: flex;
    justify-content: center;
}
.picM{
    display: flex;
    width: 330px;
    height: 230px;
    border: 1px solid white;
    border-radius: 30px;
    border-style: hidden;
    margin-left: -45px;
}
.textM{
    display: flex;
    background-color: black;
    background: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100px;
}

.box2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    border: 2px solid white;
    border-radius: 30px;
    box-shadow: 0 0 10px white;
    font-family: 'BlackChancery', sans-serif;
                                                
}
.LDN{
    display: flex;
    justify-content: center;
}
.picL{
    display: flex;
    width: 330px;
    height: 230px;
    border: 1px solid white;
    border-radius: 30px;
    border-style: hidden;
    margin-left: -20px;
}
.textL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;

}
.box3{
    display: flex;
    background-color: white;
    border: 2px solid white;
    border-radius: 30px;
    box-shadow: 0 0 10px white;
    justify-content: center;
    align-items: center;
} 
.box4{
    display: flex;
    background-color: white;
    border: 2px solid white;
    border-radius: 30px;
    box-shadow: 0 0 10px white;
    justify-content: center;
    align-items: center;
} 
.box5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 2px solid white;
    border-radius: 30px;
    box-shadow: 0 0 10px white;
    grid-column-start: 2;
    grid-column-end: 4;
    font-family: 'Parisienne', sans-serif;
                                                
} 
.PRS{
    display: flex;
    justify-content: center;
}
.picP{
    display: flex;
    width: 330px;
    height: 230px;
    border: 1px solid white;
    border-radius: 30px;
    border-style: hidden;
    margin-right: -20px;
}
.textP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;

}
.box6{
    display: flex;
    background-color: white;
    border: 2px solid white;
    border-radius: 30px;
    box-shadow: 0 0 10px white;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-family: 'Amanojaku', sans-serif;
                                                
} 
.TKY{
    display: flex;
    justify-content: center;
}
.picT{
    display: flex;
    width: 330px;
    height: 230px;
    border: 1px solid white;
    border-radius: 30px;
    border-style: hidden;
    margin-left: -20px;
}
.textT{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;

}
.box7{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid white;
    border-radius: 30px;
    box-shadow: 0 0 10px white;

} 
.box8{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid white;
    border-radius: 30px;
    box-shadow: 0 0 10px white;
    
} 
.box9{
    display: flex;
    background-color: white;
    border: 2px solid white;
    border-radius: 30px;
    box-shadow: 0 0 10px white;
    grid-column-start: 2;
    grid-column-end: 4;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Italianno', sans-serif;
                                                
} 
.ITL{
    display: flex;
    justify-content: center;
}
.picI{
    display: flex;
    width: 330px;
    height: 230px;
    border: 1px solid white;
    border-radius: 30px;
    border-style: hidden;
    margin-right: -20px;
}
.textI{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
}
.image-fader img {
  position: absolute;
  top: 430px;
  left: 785px;
  width: 330px;
  height: 230px;
  border: 1px solid white;
  border-radius: 30px;
  border-style: hidden;
  animation: imagefade 8s ease-in infinite;
}

@keyframes imagefade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.image-fader img:nth-of-type(1) {
  animation-delay: 6s;
}
.image-fader img:nth-of-type(2) {
  animation-delay: 4s;
}
.image-fader img:nth-of-type(3) {
  animation-delay: 2s;
}
.image-fader img:nth-of-type(4) {
  animation-delay: 0;
}
.image-fader1 img {
  position: absolute;
  top: 700px;
  left: 45px;
  width: 330px;
  height: 230px;
  border: 1px solid white;
  border-radius: 30px;
  border-style: hidden;
  animation: imagefade1 8s ease-in infinite;
}

@keyframes imagefade1 {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.image-fader1 img:nth-of-type(1) {
  animation-delay: 6s;
}
.image-fader1 img:nth-of-type(2) {
  animation-delay: 4s;
}
.image-fader1 img:nth-of-type(3) {
  animation-delay: 2s;
}
.image-fader1 img:nth-of-type(4) {
  animation-delay: 0;
}
.image-fader2 img {
  position: absolute;
  top: 970px;
  left: 785px;
  width: 330px;
  height: 230px;
  border: 1px solid white;
  border-radius: 30px;
  border-style: hidden;
  animation: imagefade2 8s ease-in infinite;
}

@keyframes imagefade2 {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.image-fader2 img:nth-of-type(1) {
  animation-delay: 6s;
}
.image-fader2 img:nth-of-type(2) {
  animation-delay: 4s;
}
.image-fader2 img:nth-of-type(3) {
  animation-delay: 2s;
}
.image-fader2 img:nth-of-type(4) {
  animation-delay: 0;
}
.image-fader3 img {
  position: absolute;
  top: 1240px;
  left: 45px;
  width: 330px;
  height: 230px;
  border: 1px solid white;
  border-radius: 30px;
  border-style: hidden;
  animation: imagefade3 8s ease-in infinite;
}

@keyframes imagefade3 {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.image-fader3 img:nth-of-type(1) {
  animation-delay: 6s;
}
.image-fader3 img:nth-of-type(2) {
  animation-delay: 4s;
}
.image-fader3 img:nth-of-type(3) {
  animation-delay: 2s;
}
.image-fader3 img:nth-of-type(4) {
  animation-delay: 0;
}
.Plus{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 30px;
  width: 300px;
  height: 670px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  box-shadow: 0 0 10px white;
  position: sticky;
  top: 150px;
  gap: 30px;
}
.TTle{
  display: flex;
  font-family: 'milea lover', sans-serif;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
.But1{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: -80px;
}
.But2{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Home{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 250px;
  height: 40px;
  gap: 10px;
  background-color: #191970;
  background: none;
  border-style: hidden;
  font-size: 20px;
  font-family: 'Lacuna Italic', sans-serif;
  font-family: 'Lacuna Regular', sans-serif;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
.Home:hover, .Search:hover, .Messages:hover, .Notifications:hover, .TravelPlan:hover, .Profile:hover, .More:hover, .Settings:hover {
  background-color: #afafea;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  border-style: none;
  text-shadow: 0 0 10px #fff;
}
.Search{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 250px;
  height: 40px;
  gap: 10px;
  background-color: #191970;
  background: none;
  border-style: hidden;
  font-size: 20px;
  font-family: 'Lacuna Italic', sans-serif;
  font-family: 'Lacuna Regular', sans-serif;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
  .Messages{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 250px;
  height: 40px;
  gap: 10px;
  background-color: #191970;
  background: none;
  border-style: hidden;
  font-size: 20px;
  font-family: 'Lacuna Italic', sans-serif;
  font-family: 'Lacuna Regular', sans-serif;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
.Notifications{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 250px;
  height: 40px;
  gap: 10px;
  background-color: #191970;
  background: none;
  border-style: hidden;
  font-size: 20px;
  font-family: 'Lacuna Italic', sans-serif;
  font-family: 'Lacuna Regular', sans-serif;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  }
.TravelPlan{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 250px;
  height: 40px;
  gap: 10px;
  background-color: #191970;
  background: none;
  border-style: hidden;
  font-size: 20px;
  font-family: 'Lacuna Italic', sans-serif;
  font-family: 'Lacuna Regular', sans-serif;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
.Profile{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 250px;
  height: 40px;
  gap: 10px;
  background-color: #191970;
  background: none;
  border-style: hidden;
  font-size: 20px;
  font-family: 'Lacuna Italic', sans-serif;
  font-family: 'Lacuna Regular', sans-serif;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
.but2{
  display: flex;
  flex-direction: column;
}
.More{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 250px;
  height: 40px;
  gap: 10px;
  background-color: #191970;
  background: none;
  border-style: hidden;
  font-size: 20px;
  font-family: 'Lacuna Italic', sans-serif;
  font-family: 'Lacuna Regular', sans-serif;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
.Settings{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 250px;
  height: 40px;
  gap: 10px;
  background-color: #191970;
  background: none;
  border-style: hidden;
  font-size: 20px;
  font-family: 'Lacuna Italic', sans-serif;
  font-family: 'Lacuna Regular', sans-serif;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}